.footer 
    &__container 
        container: viewport 
        margin: 0 auto
        padding:  (gutter / 2)

    &__row 
        display: flex 
        justify-content: space-between
        flex-flow: row wrap
        margin: -(gutter / 2)

    &__box 
        flex: 0 1 240px
        padding: (gutter / 2)

        &--security-title
            flex 0 1 200px

    &__title 
        padding-bottom: 16px
        font-size 16px
        font-weight bold

    &__contact 
        &-icon 
            display: inline-block
            vertical-align: middle
            margin-right: 5px
            font-size: 20px


    &__custom
        &-link
            font-size 14px
            line-height normal
            font-weight 500
            color #211915    
            
            &:hover
                color color


.payments
    &__list
        display flex
        flex-wrap wrap
    
    &__item 
        padding: 3px
        width: 40px