@media desktop 
    .menu
        &--all
            position absolute
            left 0
            top: 100%
            width 100%
            max-width 1300px
            height: 316px
            overflow: auto
            border-radius: 4px
            border: solid 1px color
            background-color: #ffffff
            padding: 30px
            opacity 0
            visibility hidden
            display block

            .menu--all-2
                padding: 0

            .menu--all-3
                padding: 0

        &__ul
            &--all-1
               column-count: 5
        
        &--navigation
            .menu
                &__link
                
                    &--all-2
                        font-size: 14px;
                        font-weight: 500;
                    
                    &--all-3
                        font-size: 12px;
                        font-weight: 400;

        &__label
            &--all
                font-size: 16px;
                line-height: normal;
                font-weight: 600;
                color: color
