<div class="rulers">
    <ul class="rulers__list">

        {% if settings.informationTitle01 and settings.informationSubtitle01 %}
        <li class="rulers__item rulers__item--send">
            <div class="rulers__box">
                <span class="rulers__icon"><i class="fas fa-truck"></i></span>
                <span class="rulers__title">
                    <strong>{{ settings.informationTitle01 }}</strong>
                    {{ settings.informationSubtitle01 }}
                </span>

            </div>
        </li>
        {% endif %}


        {% if settings.informationTitle02 and settings.informationSubtitle02 %}
        <li class="rulers__item rulers__item--ticket">
            <div class="rulers__box">
                <span class="rulers__icon">
                    {% element 'snippets/icon' { 'name': 'desconto', 'width': '34', 'height': '33' } %}
                </span>
                <span class="rulers__title">
                    <strong>{{ settings.informationTitle02 }}</strong>
                    {{ settings.informationSubtitle02 }}
                </span>

            </div>
        </li>
        {% endif %}

        {% if settings.informationTitle03 and settings.informationSubtitle03 %}
        <li class="rulers__item rulers__item--security">
            <div class="rulers__box">
                <span class="rulers__icon">
                    {% element 'snippets/icon' { 'name': 'seguranca', 'width': '32', 'height': '37' } %}
                </span>
                <span class="rulers__title">
                    <strong>{{ settings.informationTitle03 }}</strong>
                    {{ settings.informationSubtitle03 }}
                </span>

            </div>
        </li>
        {% endif %}

        {% if settings.informationTitle04 and settings.informationSubtitle04 %}
        <li class="rulers__item rulers__item--card">
            <div class="rulers__box">
                <span class="rulers__icon">
                    {% element 'snippets/icon' { 'name': 'card', 'width': '45', 'height': '35' } %}
                </span> <span class="rulers__title">
                    <strong>{{ settings.informationTitle04 }}</strong>
                    {{ settings.informationSubtitle04 }}
                </span>
            </div>
        </li>
        {% endif %}

    </ul>
</div>