<div class="socials">
    <div class="socials__container">

        <ul class="socials__list">
            {% if settings.facebook %}
            <li class="socials__item socials__item--facebook">
                <a class="socials__link" href="https://www.facebook.com/{{ settings.facebook }}" target="_blank">
                    <span class="socials__icon">
                        {% element 'snippets/icon' { 'name': 'facebook', 'width': '37', 'height': '37' } %}</span>
                    <span class="socials__label">Facebook</span>
                </a>
            </li>
            {% endif %}

            {% if settings.instagram %}
            <li class="socials__item socials__item--instagram">
                <a class="socials__link" href="https://www.instagram.com/{{ settings.instagram }}" target="_blank">
                    <span class="socials__icon">
                        {% element 'snippets/icon' { 'name': 'instagram', 'width': '37', 'height': '37' } %}</span>
                    <div class="socials__label">Instagram</div>
                </a>
            </li>
            {% endif %}
        </ul>

    </div>
</div>