.rating-short 
    margin-bottom 8px
    
    &__container 
        margin: -2px

    &__star
        color: #eaeaea
        padding: 2px

        &--actived
            color: #000


    &__votes
        display none