.rating-short 
    margin-bottom 8px
    
    &__container 
        margin: -2px

    &__star
        color: #eaeaea
        padding: 2px

        &--actived
            color: #000


    &__votes
        font-size 0
        margin 0 10px

        &:before
            content 'deixe sua avaliaçao'
            display inline-block
            font-size 12px
            color color
            font-weight 600
