.cart 
    &__price, &__amout-label 
        display: none 

    &__icon 
        font-size: 20px

    &__link 
        position: relative
        display: flex 
        justify-content: center 
        align-items: center 
        width: 45px
        height: 45px
        border-radius: 2px

    &__quantity 
        display: flex 
        justify-content: center 
        align-items: center
        font-size: 15px     
        line-height normal
        font-weight: 500        
        color: #211915
        margin-left 4px