.page-home 
    &__banner 
        
        &-list 
            display: flex 
            margin: "0 %s" % -(gutter / 2)
            flex-wrap  wrap

        &-item 
            padding: (gutter / 2)
            flex 1
            min-width 0px

        &--grid
            margin-top 90px

@media mobile 
    .page-home 
        &__banner 

            &-item 
                padding: (gutter / 2)
                flex 0 0 100%