.rulers 
    border-bottom solid 1px rgba(0,0,0,0.1)
    margin-bottom 36px
    padding 10px 0 26px
    
    &__box
        display: inline-flex 
        justify-content: flex-start 
        align-items: center 
        padding: 10px 
        text-align: left

    
    &__list
        &:not(slick-slider)
            display: flex
            align-items: center
            justify-content: space-between


    &__item
        text-align: center 
      
    &__icon
        display: flex
        align-items: center
        font-size: 25px
        margin-right: 15px
        color color

    &__title
        font-size 14px
        line-height normal
        color #211915

        strong
            display block

    .slick
        &-arrow 
            position: static
            transform: none 
            margin: 0 10px

        &-slider
            display: flex 
            justify-content: space-between
            align-items: center
        
        &-list 
            flex: 1 
            min-width: 0