<footer class="footer">

    <div class="footer__container">
        <div class="footer__row">
            <div class="footer__box footer__box--institutional">
                <h3 class="footer__title title title--small">{{ Translation('institucional') }}</h3>
                <ul class="footer__custom">
                    {% for custom in pages.custom %}
                    <li class="footer__custom-item">
                        <a class="footer__custom-link" href="{{ custom.url }}">{{ custom.name }}</a>
                    </li>
                    {% endfor %}
                    <li class="footer__custom-item">
                        <a class="footer__custom-link" href="{{ links.contact }}"
                            data-tray-tst="fale_conosco">{{ Translation('contato') }}</a>
                    </li>
                </ul>
            </div>


            <div class="footer__box">
                <h3 class="footer__title title title--small">Atendimento</h3>
                {% element 'snippets/attendance' { modifier: 'footer' } %}
            </div>

            <div class="footer__box">
                <h3 class="footer__title title title--small">Formas de Pagamento</h3>
                {% element 'snippets/payments' %}
            </div>

            {% if settings.facebook or 
                settings.twitter or 
                settings.whatsapp or
                settings.pinterest or 
                settings.youtube or 
                settings.instagram
            %}

            <div class="footer__box">
                <h3 class="footer__title title title--small">{{ Translation('redes_sociais') }}</h3>
                {% element 'snippets/socials' %}
            </div>
            {% endif %}

            <div class="footer__box footer__box--security-title">
                <h3 class="footer__title title title--small">{{ Translation('seguranca') }}</h3>

                {% if seals.ebit or seals.hackersafe %}
                <ul class="foo-seals">
                    {% if seals.ebit %}
                    <li class="seal-ebit pull-left">{{ seals.ebit }}</li>
                    {% endif %}
                    {% if seals.hackersafe %}
                    <li>{{ seals.hackersafe }}</li>
                    {% endif %}
                </ul>
                {% endif %}
            </div>
        </div>

        <div class="footer__copyright">
            <p> {{ settings.copyright }}</p>
        </div>
    </div>

</footer>